<div class="row">
    <div class="card col-md-6 offset-md-3">
        <div class="row">
            <h3 class="txt-center">Update User</h3>
            <hr/>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                     <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="fname" [(ngModel)]="user.fname" name="fname">
                     </div>
                     <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" id="lname" [(ngModel)]="user.lname" name="lname">
                     </div>
                     <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" id="password" [(ngModel)]="user.password" name="password">
                     </div>
                     <div class="form-group">
                        <label>Email Id</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email">
                     </div>
<br>
                     <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>