<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>blog</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="mat-typography">
  <nav class="navbar navbar-light bg-light">
    
    <div class='container-fluid'>
      <div class="navbar-header">
        <a class="navbar-brand" style = "color : deeppink; font-size: xx-large;" href="#">Blog</a>
      </div>
    </div>
  </nav>

  <!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a routerLink="users" routerLinkActive="active" class="nav-link">User List</a>
    </li>
    <li class="nav-item">
        <a routerLink="create-user" routerLinkActive="active" class="nav-link">Add User</a>
    </li>
    </ul>
  </nav>
  h1 class="txt-center">{{title}}</h1>
  <div class="container">
   
  </div>-->


<app-root></app-root>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>