<mat-sidenav-container class="container-fluid">
    <mat-sidenav #sidebar mode="side" opened="">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
    
                </mat-toolbar>

            </div>
            <div class="main">
                <router-outlet></router-outlet>

            </div>

        </div>
    </mat-sidenav-content>


</mat-sidenav-container>
