.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     
  }
  /* Login form */
  form {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    
  }
  
  /* Form header */
   h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    background-color:palevioletred;
    
  }
  
  
  /* Form input fields */
   .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  /* Submit button */
  button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
   button[type="submit"]:hover {
    background-color: #0062cc;
  }
  .login-form .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }