/* Container */
.container {
    width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  /* Form */
  form {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    
  }
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    background-color:palevioletred;
  }
  
  label {
    display: block;
    width: 700%;
    max-width: 100px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input,select {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .label[for="terms"] {
    display: inline-block;
    margin-bottom: 0;
  }
  
  .signup-form .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
