<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a routerLink="users" routerLinkActive="active" class="nav-link">User List</a>
    </li>
    <li class="nav-item">
        <a routerLink="create-user" routerLinkActive="active" class="nav-link">Add User</a>
    </li>
    </ul>
  </nav>
  <!--<h1 class="txt-center">{{title}}</h1>-->
  <div class="container">
    <router-outlet></router-outlet>
  

<router-outlet></router-outlet>
