h1{
    text-align: center;
    font-size: xx-large;
    padding-top: 50px;
   font-style: italic;
}
h2{
    text-align: center;
    font-size: medium;
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
  text-align: center;
  color:white;
 font-size: medium;
}
.left {
  float: left;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 50%;
  
}
.right {
  float: right;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 50%;
 
 }

div{
  font-size: large;
  color:crimson;
}
button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
  background-color: #0062cc;
}