<h1>
    The easiest way to offer <br>
    better support to customers.
</h1>
<h2>
    Makes problems go away 2 times faster and watch your satisfactions scores jump up.
</h2>
<h3>
    7-day free trial, cancel anytime.
</h3>

<form class="left">
   <div>Basic Plan <br><br> 
    {{ '$50 USD/month' }}</div><br>

    <label for="Included">Included</label>&nbsp;&nbsp;
   <br>
<br>
    <li>Two Users </li> <br>
        <li>No Downloads or Installs </li><br>
        <li>1 Click Screen Shre</li><br>
        <li>Phone Mode</li><br>
        <li>Highlight Tool</li><br>
        <li>Privacy controls</li><br>

  <button (click)="showAlert()" type= "submit" a routerLink="create-user">Start Free Trial</button> &nbsp;&nbsp;<br>
  <br>

  <br>
</form>


<form class="right">
    <div>Pro Plan <br><br> 
        {{ '$250 USD/month' }}</div><br>
 
     <label for="Included">Included</label>&nbsp;&nbsp;
    <br>
 <br>
     <li>Five Users </li> <br>
         <li>No Downloads or Installs </li><br>
         <li>1 Click Screen Shre</li><br>
         <li>Dark Mode</li><br>
         <li>Highlight Tool</li><br>
         <li>Google sign-in</li><br>
 
   <button (click)="showAlert()" type= "submit"  >Start Free Trial</button> &nbsp;&nbsp;<br>
   <br>
 
   <br>
 </form>
<router-outlet></router-outlet>