<div class="navbar">
    <div class="top">
        <!--<mat-icon>notifications_none</mat-icon>-->

    </div>
    <div class="user">
        <img src="https://www.pngfind.com/pngs/m/463-4634435_cartoon-with-laptop-png-transparent-png.png" alt="">
        
        <h4 class="name">Admin</h4>
        <p class="mail">admin@gmail.com</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>Dashboard</span>

        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" [routerLink]="['/dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>

            </button>
            <button mat-button class="menu-button" [routerLink]="['/posts']">
                <mat-icon>message</mat-icon>
                <span>Post</span>
                   
            </button>

            <button mat-button class="menu-button" [routerLink]="['/subscription']">
                <mat-icon>subscriptions</mat-icon>
                <span>Subscription</span>

            </button>

            <button mat-button class="menu-button" [routerLink]="['']">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>

            </button>
        </div>
    </div>

</div>