mat-icon{
    color:gray;
}
img{
    height: 120px;
    width: 120px;
    margin-top: 16px;
    margin-left: 45px;
    margin-right: 45px;
}
.user{
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;
}
.name{
    color: white;
}
.mail{
    margin-top: -16px;
    color: #8997ac;
}
.menu-head{
    color: #466be0;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 20px;
}
.menu-item{
    margin: 0 10px 0 10px;
    .menu-button{
        display: block;
        width: 100%;
        position: relative;
        display: flex;
        padding-left: 40px;
        margin-bottom: 10px;
    }
    .menu-button span{
        margin-left: 15px;
        color:white;
    }
}